@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.global-container{
    display: grid;
    grid-template-areas:
            "header-container header-container"
            "navbar-container navbar-container"
            "menu-container content-container "
            "footer-container footer-container";
    grid-template-rows: 140px 1fr;
    grid-template-columns: 30% 1fr;
    grid-gap: 50px;
    min-width: 300px;
    max-width: 1280px;
    margin: 0 100px;
}

.header-container{
    grid-area: header-container;
    padding-top: 60px;
}

.logo{
    text-decoration: none;
    font-size: 80px;
    color: black;
}

.blue-color{
    color: #4bcaff;
}
/**************navbar section ************/
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: navbar-container;
    width: 100%;
    background-color: #35444F;
}

.navbar-link{
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 26px 40px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.navbar-link:hover{
    background-color: #222F3A;
}

/**********menu section*********/
.menu-container{
    grid-area: menu-container;

}

.menu-style{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.menu-link{
    font-size: 27px;
    color: #485863;
    text-decoration: none;
    padding: 25px 0 25px 40px;
    transition: 0.5s;
}

.menu-link:hover{
    background-color: #DBDBDB;
    padding-left: 60px ;
    transition: 0.5s;
}

/******content section*************/

.content-container{
    grid-area: content-container;
}

.content{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    Height: 529px
}

.content-image:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}

.content-text{
    font-size: 18px;
    margin-top: 35px ;
}

/*********footer section*********/
.footer-container{
    grid-area: footer-container;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    background-color: #b4b7ba;
    padding: 15px 0;
    margin-bottom: 30px;
}

.footer-link-name{
    text-decoration: none;
    font-size: 28px;
    color: black;
    margin-right: 28px;
}

.footer-link-name:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
}

.footer-copyright-text{
    font-size: 24px;
}